<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main class="main-container">

    </main>
</body>
</html>
<style>
	.main-container {
		  @apply bg-cover bg-center;  /* TailwindCSS clases para cubrir y centrar la imagen */
		  background-image: url('../assets/bginitial.png');  /* Ruta de la imagen */
		  height: 100vh;  /* Para que ocupe todo el alto de la ventana */
		}
</style>